recursive-include view_breadcrumbs *.py *.html *.css *.js *.po *.mo
recursive-include django_view_breadcrumbs *.py
exclude *.json
include *.md
exclude *.png
exclude *.py
exclude *.txt
exclude *.pypirc
exclude *.all-contributorsrc
exclude *.yml
exclude *.pyup.yml
exclude *.travis.yml
exclude .bumpversion.cfg
exclude .coveragerc
include LICENSE
exclude Makefile
exclude pytest.ini
exclude tox.ini
prune view_breadcrumbs/tests
prune demo

# added by check-manifest
recursive-include docs *.html
recursive-include docs *.md
recursive-exclude docs *.nojekyll
recursive-include docs *.png
