alabaster==0.7.12
asgiref==3.4.1
attrs==21.2.0
Babel==2.9.1
backports.entry-points-selectable==1.1.1
beautifulsoup4==4.10.0
black==21.11b1
bleach==4.1.0
bump2version==1.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.8
click==8.0.3
cmarkgfm==0.6.0
codacy-coverage==1.3.11
coverage==6.2
distlib==0.3.3
Django==3.2.9
django-bootstrap5==21.1
django-filter==21.1
django-tables2==2.4.1
docutils==0.18.1
filelock==3.4.0
flake8==4.0.1
future==0.18.2
git-changelog==0.5.0
giturlparse.py==0.0.5
idna==3.3
imagesize==1.3.0
iniconfig==1.1.1
isort==5.10.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mccabe==0.6.1
mock==4.0.3
mypy-extensions==0.4.3
packaging==21.3
path.py==12.5.0
pathspec==0.9.0
pep517==0.12.0
pip-tools==6.4.0
pkginfo==1.8.1
platformdirs==2.4.0
pluggy==1.0.0
plumbum==1.7.1
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
Pygments==2.10.0
pyparsing==3.0.6
pytest==6.2.5
python-magic==0.4.24
pytz==2021.3
PyYAML==6.0
readme-renderer==30.0
regex==2021.11.10
requests==2.26.0
semantic-version==2.8.5
simplejson==3.17.6
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.1
Sphinx==4.3.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.2
toml==0.10.2
tomli==1.2.2
tox==3.24.4
tox-gh-actions==2.8.1
twine==3.6.0
typing-extensions==4.0.0
uritemplate==4.1.1
urllib3==1.26.7
virtualenv==20.10.0
webencodings==0.5.1
yamllint==1.26.3
