{% load view_breadcrumbs %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test app</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {% block breadcrumbs %}
    <main>
        {% render_breadcrumbs 'view_breadcrumbs/bootstrap5.html' %}
    </main>
    {% endblock %}
    <section>
        <ul>
        <li><a href="{% url 'demo:test_view' %}">Custom view</a></li>
        <li><a href="{% url 'demo:testmodel_list' %}">CRUD views</a></li>
        </ul>
    </section>
</body>
