{% load i18n %}
{% load view_breadcrumbs %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test app</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
</head>
<body>
    {% block breadcrumbs %}
    <main>
        {% render_breadcrumbs 'view_breadcrumbs/bootstrap5.html' %}
    </main>
    {% endblock %}
    {% block body %}
    <section>
        <ul>
        <li><a href="{% url 'demo:test_view' %}">{%  trans "Custom view" %}</a></li>
        <li><a href="{% list_view_url view.list_models.0 %}">{% trans "CRUD views" %}</a></li>
        <li><a href="{% url 'demo:test_model_table' %}">{% trans "Table views" %}</a></li>
        <li><a href="{% url 'demo:test_model_multi_table' %}">{% trans "Multi Table views" %}</a></li>
        </ul>
    </section>
    {% endblock %}
</body>
