{% load view_breadcrumbs %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test app</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {% block breadcrumbs %}
    <main>
        {% render_breadcrumbs 'view_breadcrumbs/bootstrap4.html' %}
    </main>
    {% endblock %}
    {% block body %}
        <ul>
        {% for pathname, path_url in view_paths %}
            <li>
                <a href="{{ path_url }}">{{ pathname }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endblock %}
</body>
